/* ============================ IMPORT ============================ */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('../fonts/icons-minimal/stylesheet.css');

/* ============================ BASE ============================ */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000;
}

.container {
    --container-paddings-x: 12px;
    width: 100%;
    padding-right: var(--container-paddings-x);
    padding-left: var(--container-paddings-x);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container {
        max-width: calc(540px + var(--container-paddings-x) * 2);
    }
}

@media (min-width: 768px) {

    .container {
        max-width: calc(834px + var(--container-paddings-x) * 2);
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: calc(1110px + var(--container-paddings-x) * 2);
    }
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.position-relative {
    position: relative !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.h-100 {
    height: 100% !important;
}

/* Animations */

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: .65;
}

.fade {
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

/* Links */

a {
    color: #000;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #333;
}

/* Forms */

button {
    color: #000;
}

button:hover {
    color: #333;
}

.form-control {
    display: block;
    width: 100%;
    height: 42px;
    font-size: 15.518px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.086px;
    background: #F6F6F6;
    border: none;
    border-radius: 0;
    outline: none;
    padding: 11px 8px;
}

.form-control::placeholder {
    color: #ddd;
}

.form-control::-ms-input-placeholder {
    color: #ddd;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding-left: 31px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.72012 0.495605C2.90198 0.495605 0.617432 2.77905 0.617432 5.59582C0.617432 8.41258 2.90198 10.696 5.72012 10.696C6.98802 10.696 8.14791 10.2338 9.04034 9.46879L11.4329 11.8602C11.5845 12.0118 11.8304 12.0118 11.982 11.8602C12.1336 11.7087 12.1336 11.463 11.982 11.3114L9.58983 8.92042C10.3583 8.02762 10.8228 6.86594 10.8228 5.59582C10.8228 2.77905 8.53826 0.495605 5.72012 0.495605ZM1.39393 5.59582C1.39393 3.20769 3.33083 1.27172 5.72012 1.27172C8.10941 1.27172 10.0463 3.20769 10.0463 5.59582C10.0463 7.98395 8.10941 9.91991 5.72012 9.91991C3.33083 9.91991 1.39393 7.98395 1.39393 5.59582Z' fill='black' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 11px center;
    background-size: 15px;
}


/* Buttons */

.btn-primary {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: lowercase;
    padding: 12px 60px;
    border: none;
    border-radius: 0;
    outline: none;
    background: #000;
    text-align: center;
    cursor: pointer;
}

.btn-primary:hover {
    color: #eaeaea;
    background: #202020;
}

@media (min-width: 768px) {

    .btn-primary {
        font-size: 14.319px;
        letter-spacing: -0.716px;
        padding: 10px 40px;
    }
}

@media (min-width: 1200px) {

    .btn-primary {
        font-size: 20px;
        letter-spacing: -1px;
        padding: 12px 60px;
    }
}

/* Offcanvas */

.offcanvas {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: #000;
    --bs-offcanvas-bg: #fff;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-border-color: transparent;
    --bs-offcanvas-box-shadow: none;
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
}

@media (prefers-reduced-motion: reduce) {
    .offcanvas {
        transition: none;
    }
}

.offcanvas.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
}

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}

.offcanvas.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
}

.offcanvas.offcanvas-bottom {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
}

.offcanvas.showing,
.offcanvas.show:not(.hiding) {
    transform: none;
}

.offcanvas.showing,
.offcanvas.hiding,
.offcanvas.show {
    visibility: visible;
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.offcanvas-backdrop.fade {
    opacity: 0;
}

.offcanvas-backdrop.show {
    opacity: 0.5;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.offcanvas-body {
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto;
}

.offcanvas-footer {
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

/* Поиск */
/* offcanvas-search */

.offcanvas-search {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-padding-x: 30px;
    --bs-offcanvas-padding-y: 30px;
    bottom: auto;
}

/* Мобильное меню */
/* offcanvas-menu */

.offcanvas-menu {
    --bs-offcanvas-width: 300px;
    --bs-offcanvas-padding-x: 1.5rem;
}

.mobile-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-nav>li>a {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.offcanvas-footer .widget-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.05px;
    margin-bottom: 26px;
}

.offcanvas-phone {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.75px;
    margin-bottom: 7px;
}

/* Modals */

.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: transparent;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 0;
    --bs-modal-box-shadow: none;
    --bs-modal-inner-border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: var(--bs-modal-margin);
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transition: none;
    }
}

.modal.show .modal-dialog {
    transform: none;
}

.modal.modal-static .modal-dialog {
    transform: scale(1.02);
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
}

@media (min-width: 576px) {
    .modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: var(--bs-box-shadow);
    }

    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }

    .modal-sm {
        --bs-modal-width: 300px;
    }
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        --bs-modal-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        --bs-modal-width: 1140px;
    }
}

/* modal-subscribe */

.modal-subscribe .header__control-btn {
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: calc(100% + 5px);
    right: 0;
    background: #fff;
    border-radius: 50%;
}

.modal-subscribe .modal-body {
    text-align: center;
    padding: 10px 10px 45px;
}

.modal-subscribe .modal-img-wrap {
    height: 286px;
    margin-bottom: 25px;
}

.modal-subscribe .modal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-subscribe .modal-title {
    display: flex;
    justify-content: center;
    max-width: 274px;
    margin: 0 auto 17px;
}

.modal-subscribe .modal-subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 136.336%;
    letter-spacing: -1.4px;
    text-transform: lowercase;
    margin-bottom: 6px;
}

.modal-subscribe .modal-note {
    color: rgba(0, 0, 0, 0.30);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 136.336%;
    letter-spacing: -1.05px;
    text-transform: lowercase;
    margin-bottom: 31px;
}

.subscribe-form {
    margin-bottom: 15px;
}

.subscribe-form .form-control {
    margin-bottom: 7px;
}

.subscribe-form .btn-primary {
    width: 100%;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 136.336%;
    letter-spacing: -0.3px;
    text-transform: lowercase;
}

.modal-subscribe .modal-form-wrap .modal-note {
    font-size: 12px;
    letter-spacing: -0.24px;
    margin-bottom: 0;
}

@media (min-width: 768px) {

    .modal-subscribe .header__control-btn {
        bottom: calc(100% + 0px);
        right: auto;
        left: calc(100% + 0px);
    }

    .modal-subscribe .modal-img-wrap {
        margin-bottom: 16px;
    }

    .modal-subscribe .modal-text-wrap {
        padding: 0 60px;
    }

    .modal-subscribe .modal-title {
        max-width: 346px;
        margin: 0 auto 5px;
    }

    .modal-subscribe .modal-subtitle {
        margin-bottom: 14px;
    }

    .modal-subscribe .modal-note {
        margin-bottom: 38px;
    }
}

/* modal-thanks */

.modal-thanks .header__control-btn {
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: calc(100% + 5px);
    right: 0;
    background: #fff;
    border-radius: 50%;
}

.modal-thanks .modal-body {
    text-align: center;
    padding: 10px;
}

.modal-thanks .modal-img-wrap {
    height: 348px;
}

.modal-thanks .modal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {

    .modal-thanks .header__control-btn {
        bottom: calc(100% + 0px);
        right: auto;
        left: calc(100% + 0px);
    }

    .modal-thanks .modal-img-wrap {
        height: 470px;
    }
}


/* ============================ HEADER ============================ */

.hero-area {
    position: relative;
}

/* Мобильное меню 📱 */
/* header-menu-mobile */

.header-menu-mobile {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 100;
    background: transparent;
}

.hero-area.statik .header-menu-mobile {
    position: static;
}

.header-menu-mobile .header-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 18px 0;
    position: relative;
    transition: all .3s ease;
}

.header-mobile__area-controls {
    display: flex;
    align-items: center;
    gap: 2px;
}

@media (min-width: 768px) {

    .header-menu-mobile {
        display: none;
    }
}

/* Десктопное меню 🖥️ */
/* header-menu-desktop */

.header-menu-desktop {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(22px);
}

.hero-area.statik .header-menu-desktop {
    position: static;
}

.header-menu-desktop .header-grid {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    align-items: center;
    padding: 18px 0;
    position: relative;
    transition: all .3s ease;
}

.header-desktop__area-collections {
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 0;
    height: 100%;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

.navbar-nav>li>a {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    font-size: 8.592px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.43px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.navbar-nav>li>a:hover {
    color: #1b2738;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 200%;
    left: 0;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    min-width: 120px;
    padding: 15px 11px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transition: all 0.3s ease-in;
}

.dropdown-menu.show {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 8.592px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.43px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.dropdown-menu a:focus,
.dropdown-menu a:hover {
    color: #1b2738;
}

.header-desktop__area-logo {
    text-align: center;
    padding: 0 1rem;
}

.header__logo {
    display: inline-block;
    max-width: 201px;
    text-decoration: none;
}

.header__logo img {
    max-width: 100%;
    width: auto;
    max-height: 99px;
    object-fit: contain;
    object-position: 50% 50%;
}

.header-desktop__area-controls {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.header__phone-link {
    margin-right: 16px;
    font-size: 8.592px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.43px;
    text-transform: uppercase;
    white-space: nowrap;
}

.header__control-btn {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    border: none;
    border-radius: 0;
    outline: none;
    padding: 0;
    color: #000;
    cursor: pointer;
    background: none;
}

.header__control-btn .icon {
    position: relative;
}

.header__control-bage {
    position: absolute;
    top: -0;
    right: -3px;
    display: inline-block;
    min-width: 14px;
    height: 14px;
    padding: 0 3px;
    font-family: 'Inter', sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
}

@media (min-width: 768px) {

    .header-menu-desktop {
        display: block;
    }

    .header__logo {
        max-width: 143px;
    }
}

@media (min-width: 1200px) {

    .navbar-nav>li>a {
        font-size: 12px;
        letter-spacing: -0.6px;
    }

    .dropdown-menu a {
        font-size: 12px;
        letter-spacing: -0.6px;
    }

    .header__logo {
        max-width: 201px;
    }

    .header__phone-link {
        font-size: 12px;
        letter-spacing: -0.6px;
    }
}

/* Виджет «Главный слайдер» */
/* section-hero */

.section-hero {
    position: relative;
}

.heroSwiper {
    height: 563px;
}

.heroSwiper .slide-body {
    height: 100%;
}

.heroSwiper .slide-img-wrap {
    height: 100%;
}

.heroSwiper .slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroSwiper .slide-content {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    text-align: center;
}

.heroSwiper .slide-subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: lowercase;
    margin-top: 32px;
}

.heroSwiper .slide-subtitle a {
    padding-bottom: 1px;
    border-bottom: 1px solid #000;
}

.heroSwiper .slide-subtitle a::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11' fill='none'%3E%3Cpath d='M10 10.75C10.4142 10.75 10.75 10.4142 10.75 10L10.75 3.25C10.75 2.83579 10.4142 2.5 10 2.5C9.58579 2.5 9.25 2.83579 9.25 3.25V9.25H3.25C2.83579 9.25 2.5 9.58579 2.5 10C2.5 10.4142 2.83579 10.75 3.25 10.75L10 10.75ZM0.46967 1.53033L9.46967 10.5303L10.5303 9.46967L1.53033 0.46967L0.46967 1.53033Z' fill='black' fill-opacity='0.6'/%3E%3C/svg%3E");
    display: inline;
    margin-left: 4px;
}

.heroSwiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    border: 1px solid #D9D9D9;
    background: transparent;
}

.heroSwiper .swiper-pagination-bullet-active {
    background: #D9D9D9;
}

@media (min-width: 768px) {

    .heroSwiper {
        height: 465px;
    }

    .heroSwiper .slide-content {
        transform: translateY(-50%);
    }
}

@media (min-width: 1200px) {

    .heroSwiper {
        height: 650px;
    }
}

/* ============================ FOOTER ============================ */

.footer-area {
    padding: 26px 0 87px;
}

.footer-top {
    margin-bottom: 43px;
}

.logo-footer {
    display: flex;
    justify-content: center;
}

.footer-middle {
    margin-bottom: 27px;
}

.footer-middle .d-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-middle .d-row>* {
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
}

.footer-middle .col-1 {
    text-align: left;
    order: 2;
    width: 50%;
}

.footer-middle .col-2 {
    text-align: center;
    order: 1;
    width: 100%;
}

.footer-middle .col-3 {
    text-align: right;
    order: 3;
    width: 50%;
}

.footer-widget {
    margin-bottom: 27px;
}

.footer-widget .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.footer-widget .footer-nav a {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.75px;
}

.footer-widget .widget-title {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.1px;
    text-transform: lowercase;
    margin-bottom: 24px;
}

.footer-widget .widget-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.75px;
    margin-bottom: 25px;
}

.widget-text p:last-child {
    margin-bottom: 0;
}

.footer-phone {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.75px;
    margin-bottom: 26px;
}

.footer-socials .socials-nav {
    justify-content: center;
}

.socials-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 11px;
}

.socials-nav a {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 42px;
    width: 100%;
    height: 55px;
    color: #000;
    border: 1px solid #000;
    background: #fff;
}

.socials-nav a:hover {
    color: #fff;
    background: #000;
}

.footer-bottom {
    margin-bottom: 0;
}

.footer-bottom .mail-link-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}

.footer-bottom .d-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.footer-bottom .col-1 {
    text-align: center;
}

.footer-bottom .col-2 {
    text-align: center;
}

.footer-link {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.15px;
    text-transform: lowercase;
}

@media (min-width: 768px) {

    .footer-area {
        padding: 60px 0 52px;
    }

    .footer-top {
        margin-bottom: 30px;
    }

    .logo-footer img {
        max-width: 240px;
    }

    .footer-middle .col-1 {
        order: 1;
        width: 30%;
    }

    .footer-middle .col-2 {
        order: 2;
        width: 40%;
    }

    .footer-middle .col-3 {
        order: 3;
        width: 30%;
    }

    .footer-widget {
        margin-bottom: 32px;
    }

    .footer-bottom .mail-link-wrap {
        margin-bottom: 0;
    }

    .footer-bottom .d-grid {
        grid-template-columns: 1fr 1fr;
    }

    .footer-bottom .col-1 {
        text-align: left;
    }

    .footer-bottom .col-2 {
        text-align: right;
    }

    .footer-link {
        font-size: 15.751px;
        letter-spacing: -0.788px;
    }
}

@media (min-width: 1200px) {

    .footer-area {
        padding: 80px 0 70px;
    }

    .footer-top {
        margin-bottom: 43px;
    }

    .logo-footer img {
        max-width: 336px;
    }

    .footer-widget {
        margin-bottom: 42px;
    }

    .footer-link {
        font-size: 22px;
        letter-spacing: -1.1px;
    }
}

/* ============================ MAIN ============================ */

/* Виджет «Категории магазина» */
/* section-categories */

.section-categories {
    padding: 23px 0 47px;
}

.card-category {
    position: relative;
}

.card-category .card-img-wrap {
    height: 280px;
}

.card-category .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-category .card-body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px 23px 23px;
}

.card-category .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-category .card-heading {
    max-width: 116px;
}

.card-category .card-title {
    font-size: 16.906px;
    letter-spacing: -0.845px;
}

.card-category .card-link {
    font-size: 11.527px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.576px;
    text-transform: lowercase;
}

.card-category .card-link a {
    padding-bottom: 1px;
    border-bottom: 1px solid #000;
}

@media (min-width: 768px) {

    .section-categories {
        padding: 26px 0 45px;
    }

    .card-category .card-img-wrap {
        height: 261px;
    }

    .card-category .card-body {
        padding: 14px 22px 22px;
    }

    .card-category .card-heading {
        max-width: 120px;
    }

    .card-category .card-title {
        font-size: 15.751px;
        letter-spacing: -0.788px;
    }

    .card-category .card-link {
        font-size: 10.74px;
        letter-spacing: -0.537px;
    }
}

@media (min-width: 1200px) {

    .section-categories {
        padding: 37px 0 62px;
    }

    .card-category .card-img-wrap {
        height: 313px;
    }

    .card-category .card-body {
        padding: 20px 30px 30px;
    }

    .card-category .card-heading {
        max-width: 163px;
    }

    .card-category .card-title {
        font-size: 22px;
        letter-spacing: -1.1px;
    }

    .card-category .card-link {
        font-size: 15px;
        letter-spacing: -0.75px;
    }
}

/* Виджет «Получите скидку» */
/* section-sale */

.section-sale {
    overflow: hidden;
    background: rgba(229, 229, 229, 0.20);
}

.section-sale .section-wrap {
    position: relative;
}

.section-sale .section-content {
    position: relative;
    max-width: 440px;
    padding: 21px 0 42px;
    z-index: 1;
}

.section-sale .section-title {
    margin-bottom: 21px;
}

.section-sale .section-text {
    position: relative;
    padding-left: 35px;
    color: rgba(0, 0, 0, 0.40);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: lowercase;
}

.section-sale .section-text::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 27px;
    height: 1px;
    background: #ADADAD;
}

.section-sale .section-text p:last-child {
    margin-bottom: 0;
}

.section-sale .btn-primary {
    margin-top: 43px;
}

.section-sale .section-img-wrap {
    position: relative;
}

.section-sale .section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {

    .section-sale .section-content {
        max-width: 315px;
        padding: 10px 0 30px;
    }

    .section-sale .section-title {
        margin-bottom: 14px;
    }

    .section-sale .section-text {
        font-size: 14.319px;
    }

    .section-sale .btn-primary {
        margin-top: 30px;
    }

    .section-sale .section-img-wrap {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 494px;
    }
}

@media (min-width: 1200px) {

    .section-sale .section-content {
        max-width: 460px;
        padding: 10px 0 42px;
    }

    .section-sale .section-title {
        margin-bottom: 21px;
    }

    .section-sale .section-text {
        font-size: 20px;
    }

    .section-sale .section-text::before {
        top: 12px;
    }

    .section-sale .btn-primary {
        margin-top: 43px;
    }

    .section-sale .section-img-wrap {
        max-width: 628px;
    }
}

/* Виджет «Сетка товаров» */
/* section-products */

.section-products {
    padding: 74px 0 73px;
}

.section-products .section-header {
    display: flex;
    justify-content: start;
    margin-bottom: 17px;
}

.section-products .section-title {
    position: relative;
    max-width: 283px;
}

.section-products .section-subtitle {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    color: rgba(0, 0, 0, 0.20);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.75px;
    white-space: nowrap;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px 18px;
}

.card-product {
    position: relative;
}

.card-product .card-header {
    position: relative;
    overflow: hidden;
    aspect-ratio: 256/427;
}

.card-product .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-product .card-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 7px;
    color: #fff;
    background: #FF4646;
}

.card-product .card-favorites {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-block;
}

.favorites_btn {
    position: relative;
    min-width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0;
}

.favorites-not-added .icon-favorites-o {
    display: block;
}

.favorites-not-added .icon-favorites-f {
    display: none;
}

.favorites-added .icon-favorites-o {
    display: none;
}

.favorites-added .icon-favorites-f {
    display: block;
}

.card-product .card-btn-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 109px;
    height: 109px;
    border-radius: 50%;
    overflow: hidden;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.45px;
    backdrop-filter: blur(12px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='109' height='109' viewBox='0 0 109 109' fill='none'%3E%3Cg filter='url(%23filter0_b_139_406)'%3E%3Ccircle cx='54.5' cy='54.5' r='54.5' fill='white' fill-opacity='0.4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_139_406' x='-24' y='-24' width='157' height='157' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='12'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_139_406'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_139_406' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    transition: all 0.5s ease;
}

.card-product .card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.card-product .card-heading {
    max-width: 120px;
}

.card-product .card-title {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.715px;
    margin-bottom: 0;
}

.card-product .card-title a {
    color: #000;
}

.card-product .card-title a:hover {
    color: #333;
}

.card-product .card-price {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.715px;
}

.card-product .card-price .old-price {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}

.section-products .section-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 28px;
}

@media (min-width: 768px) {

    .section-products {
        padding: 78px 0 45px;
    }

    .section-products .section-header {
        justify-content: center;
        margin-bottom: 25px;
    }

    .section-products .section-title {
        max-width: 370px;
    }

    .section-products .section-subtitle {
        font-size: 14.319px;
        letter-spacing: -0.716px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .products-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px 20px;
    }

    .card-product .card-heading {
        max-width: 97px;
    }

    .card-product .card-title {
        font-size: 10.74px;
        letter-spacing: -0.752px;
    }

    .card-product .card-price {
        font-size: 10.74px;
        letter-spacing: -0.752px;
    }

    .section-products .section-footer {
        margin-top: 35px;
    }
}

@media (min-width: 1200px) {

    .section-products {
        padding: 90px 0 64px;
    }

    .section-products .section-header {
        margin-bottom: 39px;
    }

    .section-products .section-title {
        max-width: 564px;
    }

    .section-products .section-subtitle {
        font-size: 20px;
        letter-spacing: -1px;
    }

    .products-grid {
        gap: 36px 30px;
    }

    .card-header:hover .card-btn-overlay {
        opacity: 1;
        bottom: 50%;
        transform: translate(-50%, 50%);
    }

    .card-product .card-heading {
        max-width: 136px;
    }

    .card-product .card-title {
        font-size: 15px;
        letter-spacing: -1.05px;
    }

    .card-product .card-price {
        font-size: 15px;
        letter-spacing: -1.05px;
    }

    .section-products .section-footer {
        margin-top: 50px;
    }
}

/* Виджет «Памятка по уходу» */
/* section-care */

.section-care .section-wrap {
    position: relative;
    overflow: hidden;
    padding: 30px 30px;
    background: #FAFAFA;
}

.section-care .section-content {
    position: relative;
    max-width: 100%;
    margin-bottom: 32px;
    z-index: 1;
}

.section-care .section-title {
    margin-bottom: 22px;
}

.section-care .section-img-wrap {
    position: relative;
    transform: translateY(30px);
}

.section-care .section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {

    .section-care .section-wrap {
        padding: 17px 60px 52px;
    }

    .section-care .section-content {
        max-width: 305px;
        margin-bottom: 0;
    }

    .section-care .section-title {
        margin-bottom: 16px;
    }

    .section-care .section-img-wrap {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        transform: translateY(0);
        max-width: 400px;
    }
}

@media (min-width: 1200px) {

    .section-care .section-wrap {
        padding: 24px 84px 72px;
    }

    .section-care .section-content {
        max-width: 426px;
    }

    .section-care .section-title {
        margin-bottom: 24px;
    }

    .section-care .section-img-wrap {
        max-width: 504px;
    }
}

/* Виджет «Контакты» */
/* section-contacts */

.section-contacts {
    padding: 67px 0 26px;
}

.section-contacts .section-title {
    max-width: 214px;
    margin-bottom: 11px;
    transform: translateX(-18px);
}

.section-contacts .d-row {
    display: flex;
    flex-wrap: wrap;
}

.section-contacts .d-row>* {
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
}

.contacts-widget {
    position: relative;
}

.contacts-widget .section-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.75px;
    text-transform: lowercase;
}

.contacts-widget .section-text p:last-child {
    margin-bottom: 0;
}

.section-contacts .col-1 .section-img-wrap {
    display: none;
    position: relative;
}

.section-contacts .col-1 .section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-contacts .col-1 .btn-primary {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    margin-bottom: 16px;
}

.section-contacts .col-2 .widgets-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px 30px;
    gap: 16px;
}

.section-contacts .col-3 .section-img-wrap {
    height: 418px;
}

.section-contacts .col-3 .section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {

    .section-contacts {
        padding: 75px 0 60px;
    }

    .section-contacts .section-title {
        max-width: 197px;
    }

    .section-contacts .d-row {
        flex-wrap: nowrap;
    }

    .contacts-widget .section-text {
        font-size: 14.319px;
        letter-spacing: -0.716px;
    }

    .section-contacts .col-1 {
        order: 1;
        max-width: 212px;
    }

    .section-contacts .col-1 .section-img-wrap {
        display: block;
        height: 311px;
    }

    .section-contacts .col-1 .btn-primary {
        position: absolute;
        bottom: 0;
    }

    .section-contacts .col-2 {
        order: 2;
        max-width: 290px;
    }

    .section-contacts .col-2 .widgets-wrap {
        padding: 0 30px;
    }

    .section-contacts .col-3 {
        order: 3;
        max-width: 291px;
    }

    .section-contacts .col-3 .section-img-wrap {
        height: 311px;
    }
}

@media (min-width: 1200px) {

    .section-contacts {
        padding: 105px 0 80px;
    }

    .section-contacts .section-title {
        max-width: 274px;
    }

    .contacts-widget .section-text {
        font-size: 20px;
        letter-spacing: -1px;
    }

    .section-contacts .col-1 {
        max-width: 297px;
    }

    .section-contacts .col-1 .section-img-wrap {
        height: 435px;
    }

    .section-contacts .col-2 {
        max-width: 406px;
    }

    .section-contacts .col-3 {
        max-width: 407px;
    }

    .section-contacts .col-3 .section-img-wrap {
        height: 435px;
    }
}

/* Виджет «Заголовок о Нас» */
/* section-about-header */

.section-about-header {
    padding: 70px 0 24px;
}

.section-about-header .container {
    max-width: 100%;
}

.section-about-header .section-title {
    position: relative;
    text-align: center;
}

.section-about-header .section-title svg {
    margin: 0 auto;
}

.section-about-header .section-subtitle {
    display: none;
}

.section-about-header .section-title .desktop {
    display: none;
}

@media (min-width: 768px) {

    .section-about-header {
        padding: 100px 0 25px;
    }

    .section-about-header .container {
        max-width: 682px;
    }

    .section-about-header .section-subtitle {
        display: inline;
        color: rgba(0, 0, 0, 0.20);
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .section-about-header .section-title .mobile {
        display: none;
    }

    .section-about-header .section-title .desktop {
        display: block;
    }
}

@media (min-width: 1200px) {

    .section-about-header {
        padding: 100px 0 35px;
    }

    .section-about-header .container {
        max-width: 974px;
    }
}

























/* Виджет «Наша философия» */
/* section-philosophy */

.section-philosophy {
    padding: 24px 0 14px;
}

.section-philosophy .container {
    max-width: 100%;
}

.section-philosophy .d-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.section-philosophy .section-img-wrap {
    text-align: center;
}

.section-philosophy .section-img {
    max-width: 100%;
    height: auto;
}

.section-philosophy .section-title {
    margin-bottom: 3px;
}

.section-philosophy .section-title svg {
    max-width: 275px;
}

.section-philosophy .section-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.336%;
    letter-spacing: -0.9px;
}

.section-philosophy .section-text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    .section-philosophy {
        padding: 25px 0 17px;
    }

    .section-philosophy .container {
        max-width: 682px;
    }

    .section-philosophy .d-grid {
        grid-template-columns: minmax(auto, 308px) 1fr;
    }

    .section-philosophy .section-title {
        margin-bottom: 2px;
    }

    .section-philosophy .section-title svg {
        max-width: 197px;
    }
    
    .section-philosophy .section-text {
        font-size: 14.319px;
        letter-spacing: -0.859px;
    }
}

@media (min-width: 1200px) {

    .section-philosophy {
        padding: 35px 0 26px;
    }

    .section-philosophy .container {
        max-width: 974px;
    }

    .section-philosophy .d-grid {
        grid-template-columns: minmax(auto, 430px) 1fr;
        gap: 43px;
    }

    .section-philosophy .section-title {
        margin-bottom: 3px;
    }

    .section-philosophy .section-title svg {
        max-width: 275px;
    }
    
    .section-philosophy .section-text {
        font-size: 20px;
        letter-spacing: -1.2px;
    }
}

















/* Виджет «О бренде» */
/* section-about-brand */

.section-about-brand {
    padding: 14px 0 25px;
}

.section-about-brand .container {
    max-width: 100%;
}

.section-about-brand .section-title {
    margin-bottom: 3px;
}

.section-about-brand .section-title svg {
    max-width: 170px;
}

.section-about-brand .section-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.336%;
    letter-spacing: -0.9px;
}

.section-about-brand .section-text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    .section-about-brand {
        padding: 17px 0 20px;
    }

    .section-about-brand .container {
        max-width: 682px;
    }

    .section-about-brand .section-title {
        margin-bottom: 2px;
    }
    .section-about-brand .section-title svg {
        max-width: 122px;
    }

    .section-about-brand .section-text {
        font-size: 14.319px;
        letter-spacing: -0.859px;
    }
}

@media (min-width: 1200px) {

    .section-about-brand {
        padding: 26px 0 33px;
    }

    .section-about-brand .container {
        max-width: 974px;
    }

    .section-about-brand .section-title {
        margin-bottom: 3px;
    }

    .section-about-brand .section-title svg {
        max-width: 170px;
    }

    .section-about-brand .section-text {
        font-size: 20px;
        letter-spacing: -1.2px;
    }
}


















/* Виджет «ДНК бренда» */
/* section-dna-brand */

.section-dna-brand {
    padding: 25px 0 49px;
}

.section-dna-brand .container {
    max-width: 100%;
}

.section-dna-brand .d-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 43px;
}

.section-dna-brand .section-img-wrap {
    text-align: center;
}

.section-dna-brand .section-img {
    max-width: 100%;
    height: auto;
}

.section-dna-brand .section-title {
    margin-bottom: 6px;
}

.section-dna-brand .section-title svg {
    max-width: 188px;
}

.section-dna-brand .section-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.336%;
    letter-spacing: -0.9px;
}

.section-dna-brand .section-text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    .section-dna-brand {
        padding: 20px 0 44px;
    }

    .section-dna-brand .container {
        max-width: 682px;
    }

    .section-dna-brand .d-grid {
        grid-template-columns: 1fr 1fr;
        gap: 27px;
    }

    .section-dna-brand .section-title {
        margin-bottom: 2px;
    }

    .section-dna-brand .section-title svg {
        max-width: 134px;
    }

    .section-dna-brand .section-text {
        font-size: 14.319px;
        letter-spacing: -0.859px;
    }
}

@media (min-width: 1200px) {

    .section-dna-brand {
        padding: 33px 0 62px;
    }

    .section-dna-brand .container {
        max-width: 974px;
    }

    .section-dna-brand .d-grid {
        gap: 38px;
    }

    .section-dna-brand .section-title {
        margin-bottom: 3px;
    }

    .section-dna-brand .section-title svg {
        max-width: 188px;
    }

    .section-dna-brand .section-text {
        font-size: 20px;
        letter-spacing: -1.2px;
    }
}















/* Виджет «Цитата» */
/* section-quote */

.section-quote {
    overflow: hidden;
    text-align: center;
    padding: 34px 0 65px;
    margin-bottom: 137px;
    background: rgba(229, 229, 229, 0.20);
}

.section-quote .container {
    max-width: 100%;
}

.section-quote .section-content {
    position: relative;
}

.section-quote .svg-quote {
    max-width: 117px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -100px;
}

.section-quote .section-logo {
    position: relative;
    max-width: 201px;
    margin: 0 auto;
    margin-bottom: 21px;
}

.section-quote .section-text {
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.336%;
    letter-spacing: -1.2px;
}

.section-quote .section-text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    .section-quote {
        padding: 24px 0 34px;
        margin-bottom: 50px;
    }

    .section-quote .container {
        max-width: 682px;
    }

    .section-quote .svg-quote {
        max-width: 141px;
        bottom: 0;
        right: 90px;
    }

    .section-quote .section-logo {
        max-width: 143px;
        margin-bottom: 15px;
    }

    .section-quote .section-text {
        max-width: 531px;
        font-size: 14.319px;
        letter-spacing: -0.859px;
    }
}

@media (min-width: 1200px) {

    .section-quote {
        padding: 34px 0 51px;
        margin-bottom: 76px;
    }

    .section-quote .container {
        max-width: 974px;
    }

    .section-quote .svg-quote {
        max-width: 198px;
        bottom: -20px;
        right: 60px;
    }

    .section-quote .section-logo {
        max-width: 201px;
        margin-bottom: 21px;
    }

    .section-quote .section-text {
        max-width: 742px;
        font-size: 20px;
        letter-spacing: -1.2px;
    }
}
























/* Виджет «Уход подробнее» */
/* section-care-more */

.section-care-more {
    padding: 30px 0 0;
}

.section-care-more .section-wrapper {
    padding: 30px 0 0;
    background-color: #fafafa;
}

.section-care-more .section-content {
    max-width: 100%;
}

.section-care-more .section-title {
    margin-bottom: 14px;
}

.section-care-more .section-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.336%;
    letter-spacing: -1.4px;
    margin-bottom: 25px;
}

.section-care-more .section-text p:last-child {
    margin-bottom: 0;
}

.section-care-more .section-text-bg {
    padding: 21px 30px;
    background: #F2F2F2;
}

.section-care-more .section-text-bg__title {
    max-width: 314px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 134.336%;
    letter-spacing: -1px;
}

.section-care-more .section-text-bg__list {
    padding-left: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.336%;
    letter-spacing: -1.4px;
}

.section-care-more .mobile-img {
    height: 392px;
}

.section-care-more .section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {

    .section-care-more .section-wrapper {
        padding: 30px 0;
        background-image: url(../img/section-care-more-bg.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-care-more .section-content {
        max-width: 350px;
    }

    .section-care-more .section-text {
        font-size: 14.319px;
        font-style: normal;
        font-weight: 300;
        line-height: 151.336%;
        letter-spacing: -1.002px;
    }

    .section-care-more .section-text-bg__title {
        max-width: 224px;
        font-size: 14.319px;
        font-style: normal;
        font-weight: 500;
        line-height: 134.336%;
        letter-spacing: -0.716px;
    }

    .section-care-more .section-text-bg__list {
        padding-left: 14px;
        font-size: 14.319px;
        font-style: normal;
        font-weight: 300;
        line-height: 151.336%;
        letter-spacing: -1.002px;
    }

    .section-care-more .section-text-bg {
        padding: 10px 21px;
    }

    .section-care-more .mobile-img {
        display: none;
    }
}

@media (min-width: 1200px) {

    .section-care-more .section-content {
        max-width: 490px;
    }

    .section-care-more .section-text {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 151.336%;
        letter-spacing: -1.4px;
        margin-bottom: 25px;
    }

    .section-care-more .section-text-bg__title {
        max-width: 314px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 134.336%;
        letter-spacing: -1px;
    }
    
    .section-care-more .section-text-bg__list {
        padding-left: 20px;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 151.336%;
        letter-spacing: -1.4px;
    }
}
